@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: #fcfcfc;
    background-color: #353535;
}

body {
    margin-top: 10vh;
    margin-left: 50vh;
    margin-right: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-bottom: 10vh;
}

.btn {
    margin-left: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a {
    padding: 0;
    border: 6px solid transparent;
    border-radius: 50%;
    background: none;
    display: inline-flex;
    overflow: hidden; 
    margin-right: 15vh;
    transition: all 0.3s ease;
}
a:hover, a.active{
    border-color: #c6c6c6a4;       
    transform: scale(1.05); 
}

#earth {
    display: block;
    object-fit: cover;
    transform: scale(1.15);  
}

#moon {
    display: block;
    object-fit: cover;
    transform: scale(1.60);  
}